.city1 {
  background-color: pink;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.city2 {
  background-color: pink;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.city3 {
  background-color: pink;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.city4 {
  background-color: pink;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.city5 {
  background-color: pink;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  }

